.mindtrailClipping::selection {
  background-color: #f8e02c !important; /* Your desired highlight color */
  color: black; /* Text color */
}

#clipping-button {
  transition: transform 0.2s ease-out;
}
